.profile-container {
    display: flex;
    margin-top: 20px;
}

.user-data {
    display: inline-block;
    flex: 1;
}

.user-plants {
    display: inline-block;
    flex: 1;
}

.plant-view {
    display: flex;
    justify-content: space-between;
}