.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.user-data {
    display: inline-block;
    flex: 1;
}

.user-plants-header {
    text-align: center;
    margin-top: 30px;
}

.plant-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.plant-card {
    margin: 10px;
}

.my-plants-container {
    margin-left: 100px;
    max-width: 800px
}