.profile-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 30px;
    justify-content: space-around;
}

.user-data {
    display: inline-block;
    flex: 1;
}

.user-plants-header {
    text-align: center;
    margin-bottom: 10px;
}

.plant-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 650px;
}

.plant-card {
    margin: 10px;
}

.my-plants-container {
    margin-left: 0px;
    max-width: 800px;
    margin-top: 35px;
}