/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background-color: #609966;
    color: #40513B;

}

.navBar {
    background-color: #9DC08B;
    max-width: 1200px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #40513B;
}

.content {
    background-color: #EDF1D6;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
